<!doctype html>
<html class="no-js" ng-app="salesOrderReviewApp">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="taskController">
    <div class="container" ng-if="data.SalesOrderReview">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <div class="page-header">
            <h1>
              <div>
                <i class="fa fa-arrow-circle-right fa-6"></i>
                Review sales order
              </div>
            </h1>
          </div>
        </div>
      </div>
      <div class="row clearfix bg-info section" >
        <div class="col-md-6 column">
          <h3>
            <div><i class="fa fa-cart-arrow-down"></i>&nbsp;&nbsp;<strong>Order</strong></div>
          </h3>
          <ul class="fa-ul">
            <li>
              <i class="fa-li fa fa-square"></i>
              <strong>Sales rep.:</strong> {{data.SalesOrderReview.SalesRepresentative.$}}
            </li>
            <li>
              <i class="fa-li fa fa-square"></i>
              <strong>Order reference:</strong> {{data.SalesOrderReview.SalesOrder.OrderRef.$}}
            </li>
            <li>
              <i class="fa-li fa fa-square"></i>
              <strong>Order date:</strong> {{data.SalesOrderReview.SalesOrder.OrderDate.$ | date : format : mediumDate}}
            </li>
          </ul>
        </div>
        <div class="col-md-6 column">
          <h3>
            <div><i class="fa fa-user"></i>&nbsp;&nbsp;<strong>Client</strong></div>
          </h3>
          <ul class="fa-ul">
            <li>
              <i class="fa-li fa fa-square"></i>
              <strong>Client id:</strong> {{data.SalesOrderReview.SalesOrder.Client.ClientId.$}}
            </li>
            <li>
              <i class="fa-li fa fa-square"></i>
              <strong>Client name:</strong> {{data.SalesOrderReview.SalesOrder.Client.ClientName.$}}
            </li>
            <li>
              <i class="fa-li fa fa-square"></i>
              <strong>Contact name:</strong> {{data.SalesOrderReview.SalesOrder.Client.ContactName.$}}
            </li>
            <li>
              <i class="fa-li fa fa-square"></i>
              <strong>Contact phone:</strong> {{data.SalesOrderReview.SalesOrder.Client.ContactPhone.$}}
            </li>
            <li>
              <i class="fa-li fa fa-square"></i>
              <strong>Contact email:</strong> {{data.SalesOrderReview.SalesOrder.Client.ContactEmail.$}}
            </li>
          </ul>
        </div>
      </div>
      <div class="row clearfix bg-warning section">
        <div class="col-md-12 column">
          <h3>
            <div><i class="fa fa-plus-square"></i>&nbsp;&nbsp;<strong>Items</strong></div>
          </h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>
                  Ref.
                </th>
                <th>
                  id
                </th>
                <th>
                  Family
                </th>
                <th>
                  Name
                </th>
                <th>
                  Price
                </th>
                <th>
                  Quantity
                </th>
                <th>
                  Discount
                </th>
                <th>
                  Item price
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in data.SalesOrderReview.SalesOrder.Items" ng-if="itemsArray">
                <td>
                  {{item.ItemRef.$}}
                </td>
                <td>
                  {{item.ProductId.$}}
                </td>
                <td>
                  {{item.ProductFamily.$}}
                </td>
                <td>
                  {{item.ProductName.$}}
                </td>
                <td class="text-right">
                  {{item.ProductPrice.$ | currency: $: 2}}
                </td>
                <td class="text-right">
                  {{item.Quantity.$}}
                </td>
                <td class="text-right">
                  {{item.ItemDiscount.$ | percentage:2}}
                </td>
                <td class="text-right">
                  {{item.ItemPrice.$ | currency: $: 2}}
                </td>
              </tr>
              <tr ng-if="!itemsArray">
                <td>
                  {{data.SalesOrderReview.SalesOrder.Items.ItemRef.$}}
                </td>
                <td>
                  {{data.SalesOrderReview.SalesOrder.Items.ProductId.$}}
                </td>
                <td>
                  {{data.SalesOrderReview.SalesOrder.Items.ProductFamily.$}}
                </td>
                <td>
                  {{data.SalesOrderReview.SalesOrder.Items.ProductName.$}}
                </td>
                <td class="text-right">
                  {{data.SalesOrderReview.SalesOrder.Items.ProductPrice.$ | currency: $: 2}}
                </td>
                <td class="text-right">
                  {{data.SalesOrderReview.SalesOrder.Items.Quantity.$}}
                </td>
                <td class="text-right">
                  {{data.SalesOrderReview.SalesOrder.Items.ItemDiscount.$ | percentage:2}}
                </td>
                <td class="text-right">
                  {{data.SalesOrderReview.SalesOrder.Items.ItemPrice.$ | currency: $: 2}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row clearfix bg-warning section">
        <div class="col-md-12 column">
          <h3>
            <div><i class="fa fa-money"></i>&nbsp;&nbsp;<strong>Items</strong></div>
          </h3>
          <ul class="fa-ul">
            <li>
              <i class="fa-li fa fa-square"></i>
              <strong>Global discount:</strong> {{data.SalesOrderReview.SalesOrder.GlobalDiscount.$ |percentage:2}}
            </li>
            <li>
              <i class="fa-li fa fa-square"></i>
              <strong>Total price:</strong> {{data.SalesOrderReview.SalesOrder.TotalPrice.$ | currency: $: 2}}
            </li>
            <li>
              <i class="fa-li fa fa-square"></i>
              <div class="form-group form-inline">
                <label for="selectDecision">Decision: </label>
                <select id="selectDecision" ng-model="result" ng-options="opt as opt.label for opt in decisionOptions" class="form-control input-sm" ng-change="decisionChanged(result)"></select>
              </div>  
            </li>
            <li>
              <button class="btn-primary" ng-click="submit()" ng-if="!working">Submit</button>
              <i class="fa fa-spin fa-spinner fa-4" ng-if="working"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/lib/ng-intalio.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <!-- endbuild -->
</body>
</html>
